

<div>
  <div><span style="color: red">Choose file</span></div>
  <input type="file" (change)="onFileChanged($event)"><br>
<!--  <mat-spinner *ngIf="checkUploadAvatar"></mat-spinner>-->
  <mat-progress-bar mode="indeterminate" *ngIf="checkUploadAvatar"></mat-progress-bar><br>

  <button *ngIf="downloadUrl?!selectFile:selectFile" mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary" (click)="onUpload()">Upload File
  </button>
  <div *ngIf="downloadUrl" style="margin-bottom: 10px;margin-top: 10px">
    <audio controls>
      <source [src]="downloadUrl" style="width: 300px;height: auto">
    </audio>
  </div>

</div>

